.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}
  
.body {
    width: 449.27px;
    height: 268.88px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
}
  
.header {
    text-align: center;
    font-size: 26px;
    font-family: 'cursive';
    font-weight: bold;
    padding: 20px 20px;
    background-color: #404040;
    color: #888;
    border-radius: 5px 5px 0 0;
}
  
.form {
    margin-top: 12px;
    padding: 24px;
    margin: 0 auto;
    border:1px #ccc solid;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}
  
.btn {
    width: 100%;
}